<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.obeonetwork.org/dsl/eclipse"
            class="org.obeonetwork.dsl.gen.eclipse.EclipsePackage"
            genModel="model/eclipse.xcore"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.factory_override">
      <factory
            class="org.obeonetwork.dsl.gen.eclipse.impl.spec.EclipseFactorySpec"
            uri="http://www.obeonetwork.org/dsl/eclipse">
      </factory>
   </extension>

</plugin>
