<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.obeonetwork.dsl.gen.eclipsemodel.presentation.EclipsemodelModelWizardID"
            name="%_UI_EclipsemodelModelWizard_label"
            class="org.obeonetwork.dsl.gen.eclipsemodel.presentation.EclipsemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EclipsemodelModelFile.gif">
         <description>%_UI_EclipsemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.obeonetwork.dsl.gen.eclipsemodel.presentation.EclipsemodelEditorID"
            name="%_UI_EclipsemodelEditor_label"
            icon="icons/full/obj16/EclipsemodelModelFile.gif"
            extensions="eclipsemodel"
            class="org.obeonetwork.dsl.gen.eclipsemodel.presentation.EclipsemodelEditor"
            contributorClass="org.obeonetwork.dsl.gen.eclipsemodel.presentation.EclipsemodelActionBarContributor">
      </editor>
   </extension>

</plugin>
