<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.*"
            id="org.obeonetwork.dsl.gen.eclipse.ui.popupMenus.contribution.IFile">
         <menu id="org.eclipse.acceleo.module.menu" label="Acceleo Model to Plug-In" path="additionsAcceleo">
               <groupMarker name="acceleo"/> 
         </menu>
         <action
               class="org.obeonetwork.dsl.gen.eclipse.ui.popupMenus.AcceleoGenerateEclipseAction"
               enablesFor="+"
               id="org.obeonetwork.dsl.gen.eclipse.ui.popupMenus.acceleoGenerateEclipseAction"
               icon="icons/default.gif"
               label="Generate Eclipse"
               menubarPath="org.eclipse.acceleo.module.menu/acceleo"/>
      </objectContribution>
   </extension>
</plugin>
